<ion-app style="--ion-background-color: rgb(255, 255, 255) !important;" class="p">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Numero Aleatorio</ion-title>
      <ion-buttons slot="primary">
        <!-- <ion-button [routerLink]="['/componentes/menu']">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button> -->
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row style="padding-top: 10%; padding-bottom: 10%;">
        <ion-col style="text-align: center; margin: auto;" size="4">
          <div class="numberContent p">
            {{numeroRandomVar}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button (click)="numeroRandom()" style="color: rgb(0, 195, 209); --background:#333; height: 75px; font-size: 2em;">
              Generar
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="4" style="margin: auto; padding-top: 5%;">
          
          <ion-list lines="full">
            <ion-list-header lines="full">
              <ion-label>
                Rango
              </ion-label>
            </ion-list-header>
            
            
            <ion-item>
              <ion-label>Max</ion-label>
              <ion-input type="number" name="max" [(ngModel)]="numeroMaximo"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label>Min</ion-label>
              <ion-input type="number" name="min" [(ngModel)]="numeroMinimo"></ion-input>
            </ion-item>
            
            
          </ion-list>
        </ion-col>
        <!-- <div class="inputContent">
          <ion-item>
            <ion-label>Max</ion-label>
            <ion-input type="number" id="max" name="max" [(ngModel)]="numeroMaximo"></ion-input>
            <input type="number" id="max" name="max" [(ngModel)]="numeroMaximo" class="inputNumber">
          </ion-item>
        </div> -->
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>