.numberContent{
    font-size: 3em;
    height: 100px;
    width: 100px;
    background-color: #333;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px -5px 2px rgb(0, 169, 175);
}