<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Porcentajes</ion-title>
      <ion-buttons slot="primary">
        <ion-button [routerLink]="['/componentes/menu']">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col>

          <div class="contentSorteo">
            Calcular el
            <input type="number" id="porcentaje1" class="inputPorcentaje">
            <p style="margin-right: 10px; color: rgb(0, 170, 165);">%</p>
            de
            <input type="number" id="numero1" class="inputNumero">
            <button id="calcular1" style="margin-left: 10px;">Calcular</button>
          </div>

          <div class="contentSorteo">
            <select name="aod" id="aod">
              <option value="a" selected>Aumentar</option>
              <option value="d" >Disminuir</option>
              <!-- <option value="value3">Value 3</option> -->
            </select>
            el
            <input type="number" id="porcentaje2" class="inputPorcentaje">
            <p style="margin-right: 10px; color: rgb(0, 170, 165);">%</p>
            a
            <input type="number" id="numero2"class="inputNumero">

            <button id="calcular2">Calcular</button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
