*{
    font-size: 16px;
}

h1{
    margin: 0;
    font-size: 1.5rem;
}

.contentSorteo{
    text-align: center;
    color: white;
    max-width: 600px; 
    background-color: #333;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 5px -5px rgb(0, 169, 175);
    font-size: 1em;
    margin-top: 3rem;
}

.contentSorteo > div{
    
    padding: 1em;
    display: flex;
    justify-content:space-around;
    align-items: center;

}

.inputNumero{

    background: rgb(255, 255, 255);
    color:  rgb(0, 170, 165);
    border: 1px solid  rgb(0, 170, 165);
    transition: 0.3s;

    outline: none;
    font-size: 1.5rem;
    
    // width: 50%;
    max-width: 150px;
}

.inputPorcentaje{

    background: rgb(255, 255, 255);
    color:  rgb(0, 170, 165);
    border: 1px solid  rgb(0, 170, 165);
    transition: 0.3s;

    outline: none;
    font-size: 1.5rem;
    max-width: 70px;

    outline: none;
}

.ejemplo{
    margin: 0;
    font-size: 1rem;
    color: rgb(95, 95, 95);
}

@media(max-width:570px)
{
    .contentSorteo > div{
        display: block;
    }
    // .contentSorteo{
    //     text-align: center;
    //     color: white;
    //     max-width: 600px; 
    //     background-color: #333;
    //     margin: auto;
    //     border-radius: 10px;
    //     padding: 10px 20px 10px 20px;
    //     padding-bottom: 50px;
    //     box-shadow: 5px -5px rgb(0, 169, 175);
    //     font-size: 1.5em;
    //     margin-top: 10%;
    
    //     display:list-item;
    //     justify-content: center;
    //     align-items: center;
    // }
}