<ion-app style="--ion-background-color: rgb(255, 255, 255) !important;">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Sorteo</ion-title>
      <ion-buttons slot="primary">
        <ion-button [routerLink]="['/componentes/']">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>

      <!-- Col lista de participantes -->
      <ion-col size="12" sizeSm="6">
        <h1 style="color: black; text-align: center;">Participante</h1>
        <div class="divTabla" id="divTabla">
          <table id="tablaParticipantes" class="tablaSorteo" style="margin: auto;">
            <tbody>
              <tr *ngFor="let item of participantes" class="trTemere">
                <th class="h1Temere">{{item.id}}</th>
                <td>
                  <input type="text" name="participante" id={{item.id}} class="inputTemere" value=''>
                </td>
                <td>
                  <ion-icon name="trash" class="iconRemove" (click)="quitarParticipante(item.id)"></ion-icon>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
          
          <ion-grid fixed>
            <ion-row>
              
              <ion-col size="6">
                <ion-button expand="block" id="addInput" (click)="agregarParticipante()">
                  <ion-icon slot="start" name="add"></ion-icon>
                </ion-button>
              </ion-col>
              
              <ion-col size="6">
                <ion-button expand="block" (click)="sortear()">
                  ¡Sortear!
                </ion-button>

              </ion-col>
              <ion-item style="margin: auto; color: rgb(0, 170, 165);">
                <ion-label>Agregar por cantidad</ion-label>
                <ion-input type="number" style="text-align: center;" id="inputNumeroSelect"></ion-input>
              </ion-item>
            </ion-row>
          </ion-grid>
      </ion-col>

      <!-- Col lista de Ganadores -->
      <ion-col size="12" sizeSm="6">
        <div class="contentSorteo">
          <h1 style="border-bottom: 1px solid rgb(0, 170, 165); padding-bottom: 20px;">GANADOR</h1>
          
          <h1>{{ganador}}</h1>
        </div>
        <div class="contentSorteo">
          <h2>Cantidad de participantes: <strong>{{participantes.length}}</strong></h2>
        </div>
      </ion-col>

      </ion-row> 
    </ion-grid>
  </ion-content>
</ion-app>